<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
  <title>Settings &mdash; Stisla</title>

  <!-- General CSS Files -->
  <link rel="stylesheet" href="/assets/modules/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/modules/fontawesome/css/all.min.css">

  <!-- CSS Libraries -->

  <!-- Template CSS -->
  <link rel="stylesheet" href="/assets/css/style.css">
  <link rel="stylesheet" href="/assets/css/components.css">
<!-- Start GA -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-94034622-3"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-94034622-3');
</script>
<!-- /END GA --></head>

<body>
  <div id="app">
    <div class="main-wrapper main-wrapper-1">
      <div class="navbar-bg"></div>
      <%- include partials/navbar.ejs %> 
      <!--sidebar-->
    
<%- include partials/sidebar.ejs %> 
      <!-- Main Content -->
      <div class="main-content">
        <section class="section">
          <div class="section-header">

            <div class="section-header-breadcrumb">
              <div class="breadcrumb-item active"><a href="#">Relatorio</a></div>
              <div class="breadcrumb-item">Seguro</div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12 col-md-12 col-12 col-sm-12"> 

              <div class="card">
               
                <div class="card-body">
                  Relatório Da Empresa
                </div>
                </div>
               
            </div>
            <div class="col-lg-6 col-md-12 col-12 col-sm-12">
              
          <div class="card">
            <ul>
              <br>
              <h4>Relatórios Mensais</h4>
            </ul>
           
          
            <div class="card-body">
              <form action="/relatorioMensais"   method="post">
             
             
                <div class="form-group ">
                  <label for="inputCity">De</label>
                  <input type="date" class="form-control" name="inicio" id="inputCity">
                </div>
                <div class="form-group ">
                  <label for="inputCity">Até</label>
                  <input type="date" class="form-control" name="fim" id="inputCity">
                </div>
               
                <div class="form-row"></div>
                <div class="form-group col-md-12">
                <label for="inputCity">.</label>
                  <input type="submit" class="form-control tn btn-primary btn-round" value="Gerar Relatório">
                </div>
              </div>
               
             
            </form>
            </div>
          </div>
          <div class="col-lg-6 col-md-12 col-12 col-sm-12">
          
            <div class="card" >
              
             <ul>
              <br>
              <h4>Rege e os seus Relatórios</h4>
               <li>Clientes</li>
               <li>Veículo</li>
                <li>Pontos</li>
               <li>Alertas de Roubos</li>
               <li>alertas Acidentes</li>
               <li>Inscritos</li>
               <li>Apolice</li>
               <li>Comprovativo Pagamento</li>
               
              
               
             </ul>
              <div class="card-body">
                <a href="/relatorioGeral"   target="_blank" rel="noopener noreferrer"> <button class="form-control tn btn-primary btn-round"> Relatório Geral</button></a>
                </div>
                 
               
              </form>
              </div>
            </div>
            </div>
          </div>

        </section>
      </div>
      <footer class="main-footer">
        <div class="footer-left">
          Copyright &copy; <script>
                document.write(new Date().getFullYear())
            </script>
        </div>
        <div class="footer-right">
          
        </div>
      </footer>
    </div>
  </div>

  <!-- General JS Scripts -->
  <script src="/assets/modules/jquery.min.js"></script>
  <script src="/assets/modules/popper.js"></script>
  <script src="/assets/modules/tooltip.js"></script>
  <script src="/assets/modules/bootstrap/js/bootstrap.min.js"></script>
  <script src="/assets/modules/nicescroll/jquery.nicescroll.min.js"></script>
  <script src="/assets/modules/moment.min.js"></script>
  <script src="/assets/js/stisla.js"></script>
  
  <!-- JS Libraies -->

  <!-- Page Specific JS File -->
  
  <!-- Template JS File -->
  <script src="/assets/js/scripts.js"></script>
  <script src="/assets/js/custom.js"></script>
</body>
</html>