:root{
    --white-text:#fff;
    --background:#c8e8f1;
    --black-text:rgb(68,66,66),
    --prueba: (160deg, #21c8f6,#637bff)
}
.background-left-column{
    background: linear-gradient(135deg,rgba(79, 172, 254, .8), rgba(0, 242, 254, .8));

}
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    border: none;
}
body{
    background-color: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}
.card{
    background-color: var(--white-text);
    border-radius: 1rem;
    box-shadow: 0 1rem 1rem rgba(0,0,0,0.2);
    display: flex;
    margin: 1.5rem;
    overflow:hidden ;
    width: 30rem;
    height: 19rem;
}
.card h6{
    opacity: 0.6;
    letter-spacing: .1rem;
    text-transform: uppercase;
}
.card h2{
   letter-spacing: .1rem;
   margin: 1rem 0;
   color: var(--black-text);
}
.left-column{
    color: var(--white-text);
    padding: 2rem;
    max-width: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.left-column h2{
    color: var(--white-text);
}
.left-column img{
    font-size: 5rem;
    width: 100px;
    height: 100px;
}
.right-column{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}
.right-column p{
    font-size: .6rem;
    color: var(--black-text);
}
.data {
    font-size: .6rem; 
}