
<nav class="navbar navbar-expand-lg main-navbar">
  <form class="form-inline mr-auto">
    <ul class="navbar-nav mr-3">
      <li><a href="#" data-toggle="sidebar" class="nav-link nav-link-lg"><i class="fas fa-bars"></i></a></li>
      <li><a href="#" data-toggle="search" class="nav-link nav-link-lg d-sm-none"><i class="fas fa-search"></i></a></li>
    </ul>
    
  </form>
  <ul class="navbar-nav navbar-right">
    <li class="dropdown dropdown-list-toggle"><a href="/corretor/notificacao" title="Notificações emitidos" data-toggle="tooltip" class="nav-link  nav-link-lg ">
      <i class="far fa-bell" id="y"></i>
      <% if(notificacao.length == 0){%>
  
        <% }else if(notificacao.length > 9){%>
       <span class="notification">9+</span>
       <% }else{%>
       <span class="notification"><%=notificacao.length %></span>
       <% }%>
    </a>
      
    </li>
    <li class="dropdown"><a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle nav-link-lg nav-link-user">
      <img alt="image" src="/uploads/<%= user.img %> " class="rounded-circle mr-1">
      <div class="d-sm-none d-lg-inline-block"><%= user.user_name%> </div></a>
      <div class="dropdown-menu dropdown-menu-right">
        <div class="dropdown-title">usuario logado</div>
        <a href="/corretor/index" class="dropdown-item has-icon">
          <i class="far fa-user"></i> perfil
        </a>
       
        <div class="dropdown-divider"></div>
        <a href="/logout" class="dropdown-item has-icon text-danger">
          <i class="fas fa-sign-out-alt"></i> sair
        </a>
      </div>
    </li>
  </ul>
</nav>