<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
  <title>Register &mdash; Stisla</title>

  <!-- General CSS Files -->
  <link rel="stylesheet" href="/assets/modules/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/modules/fontawesome/css/all.min.css">

  <!-- CSS Libraries -->
  <link rel="stylesheet" href="/assets/modules/jquery-selectric/selectric.css">

  <!-- Template CSS -->
  <link rel="stylesheet" href="/assets/css/style.css">
  <link rel="stylesheet" href="/assets/css/components.css">
<!-- Start GA -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-94034622-3"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-94034622-3');
</script>
<!-- /END GA --></head>

<body>
  <div id="app">
    <section class="section">
      <div class="container mt-5">
        <div class="row">
          <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-8 offset-lg-2 col-xl-8 offset-xl-2">

            <div class="card card-primary">
              <div class="card-header"><h4>   <%= titular %> </h4></div>

              <div class="card-body">
                <form method="POST" action="/viatura/new" class="needs-validation" novalidate="" >

                  <div class="row">
                    <div class="form-group col-4">
                      <label for="frist_name">Tipo de Viatura:</label>
                      <select class="form-control selectric" name="tipo">
                        <option value="Carro">Carro</option>
                        <option value="Camiao">Camião</option>
                        <option value="Motorizada">Motorizada</option>
                      </select>
                    </div>
                    <div class="form-group col-4">
                      <label for="frist_name">Serviço:</label>
                      <select class="form-control selectric" name="servico">
                        <option value="particular">particular</option>
                        
                      </select>
                    </div>
                    <div class="form-group col-4">
                      <label for="frist_name">Lotação:</label>
                      <select class="form-control selectric" name="lotacao">
                        <option value="5">5 lugares</option>
                        <option value="7">7 Lugares</option>
                        <option value="2">2 lugares</option>
                        <option value="14">14 Lugares</option>
                      </select>
                    </div>
                    </div>
                    <div class="row">
                      <div class="form-group col-4">
                        <label for="frist_name">Combustivel:</label>
                        <select class="form-control selectric" name="combustivel">
                          <option value="Gasolina">Gasolina</option>
                          <option value="Gasoleo">Gasoleo</option>
                          
                        </select>
                      </div>
                      <div class="form-group col-4">
                        <label for="frist_name">Tipo de Caixa:</label>
                        <select class="form-control selectric" name="tipo_caixa">
                          <option value="Aberto">Aberto</option>
                          <option value="Fechado">Fechado</option>
                        </select>
                      </div>
                      <div class="form-group col-4">
                        <label for="frist_name">Distancia entre Eixos:</label>
                        <select class="form-control selectric" name="distancia_eixo">
                          <option value="200">200 Cm</option>
                          <option value="250">250 Cm</option>
                          <option value="300">300 Cm</option>
                          <option value="450">450 Cm</option>
                        </select>
                      </div>

                      </div>
                      <div class="row">
                        <div class="form-group col-4">
                          <label for="" class="d-block">Cilindrada:</label>
                          <input id="" type="text" class="form-control" name="cilindrada"
                            autofocus required    />
                          <div class="invalid-feedback">
                            matriculanao pode estar vazio
                            <p id="title"></p>
                          </div>

                        </div>
                        <div class="form-group col-4">
                          <label for="frist_name">Nº: de Cilindro</label>
                          <select class="form-control selectric" name="numero_cilindro">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                          </select>
                        </div>
                        <div class="form-group col-4">
                          <label for="" class="d-block">Medidas Pneumaticos:</label>
                          <input id="" type="text" class="form-control" name="medida_pneumaticos"
                            autofocus required    />
                          <div class="invalid-feedback">
                            matriculanao pode estar vazio
                            <p id="title"></p>
                          </div>

                        </div>
                      </div>
                    <div class="row">
                      <div class="form-group col-4">
                        <label  class="d-block">Nº do quadro</label>
                        <input  type="text" class="form-control "
                          data-indicator="pwindicator" name="numero_quadro" autofocus required>
                        <div class="invalid-feedback">
                          password nao pode estar vazio

                        </div>
                      </div>
                      <div class="form-group col-4">
                        <label for="frist_name">Tara</label>
                        <select class="form-control selectric" name="tara">
                          <option value="750">750 kg</option>
                          <option value="800">800Kg</option>
                          <option value="900">900Kg</option>
                          
                        </select>
                      </div>
                      <div class="form-group col-4">
                        <label  class="d-block">Nº do Motor</label>
                        <input  type="text" class="form-control "
                          data-indicator="pwindicator" name="numero_motor" autofocus required>
                        <div class="invalid-feedback">
                          password nao pode estar vazio

                        </div>
                      </div>
                      
                    </div>

                  <div class="row">
               
                    <div class="form-group col-4">
                      <select id="slctprovincia" onchange="populate(this.id,'slctmunicipio')" name="marca" class="form-control ">
                        <option value="FERRARI">FERRARI</option>
                        <option value="NISSAN">NISSAN</option>
                        <option value="BMW">BMW</option>
                        <option value="TOYOTA">TOYOTA</option>
                        <option value="AGRALE">AGRALE</option>
                        <option value="ASTON MARTIN">ASTON MARTI</option>
                        <option value="BENTLEY">BENTLEY</option>
                        <option value="BUGATTI">BUGATTI</option>
                        <option value="CHANGAN">CHANGAN</option>
                        <option value="GM/CHEVROLET">GM/CHEVROLET</option>
                      </select>
                     
                      
      
                    </div>
                    <div class="form-group col-4">
                      <select name="modelo" id="slctmunicipio" class="form-control "></select>
                    </div>
                    <div class="form-group col-4">
                     
                      <input  type="text" class="form-control" name="cor"
                        autofocus required placeholder="Cor">
                      <div class="invalid-feedback">
                        password Confirm nao pode estar vazio
                        <p id="title"></p>
                      </div>

                    </div>
                  </div>

                  <div class="row">
                    <div class="form-group col-4">
                      <label>Date Emissão</label>
                      <input type="date" class="form-control"  name="data_fabrico"  autofocus required>
                      <div class="invalid-feedback">
                        password nao pode estar vazio

                      </div>
                    
                    </div>
                    <div class="form-group col-4">
                      <label for="" class="d-block">Matricula:</label>
                      <input id="" type="text" class="form-control" maxlength="11" minlength="10" placeholder="AA-00-00-AA" name="matricula"
                        autofocus required >
                      <div class="invalid-feedback">
                        matriculanao pode estar vazio
                        <p id="title"></p>
                      </div>

                    </div>
                    <div class="form-group col-4">
                      <select id="slctprovincia" name="peso"  class="form-control ">
                        <option value="PBTC">PBTC</option>
                        <option value="PBT">PBT</option>
                      </select>

                    </div>
                  </div>

                  <div class="form-group">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" name="agree" class="custom-control-input" id="agree" autofocus required>
                      <label class="custom-control-label" for="agree">Eu concordo com as condições </label>
                      <div class="invalid-feedback">
                        Concordo
                         
                       </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-lg btn-block">
                      Registar
                    </button>
              
                  </div>
                </form>
              </div>
            </div>
            <div class="simple-footer">
              Copyright &copy; <script>
                document.write(new Date().getFullYear()) 
            </script>
            _<a href="/">AutoSeguro</a>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

  <!-- General JS Scripts -->
  <script src="/assets/modules/jquery.min.js"></script>
  <script src="/assets/modules/popper.js"></script>
  <script src="/assets/modules/tooltip.js"></script>
  <script src="/assets/modules/bootstrap/js/bootstrap.min.js"></script>
  <script src="/assets/modules/nicescroll/jquery.nicescroll.min.js"></script>
  <script src="/assets/modules/moment.min.js"></script>
  <script src="/assets/js/stisla.js"></script>
  
  <!-- JS Libraies -->
  <script src="/assets/modules/jquery-pwstrength/jquery.pwstrength.min.js"></script>
  <script src="/assets/modules/jquery-selectric/jquery.selectric.min.js"></script>

  <!-- Page Specific JS File -->
  <script src="/assets/js/page/auth-register.js"></script>
  <script src="/script/MarcaModelo.js"></script>
  <script src="/assets/modules/sweetalert/sweetalert2.all.min.js"></script>
 
    <% if(errado.length >0) {%>
      <script>
        Swal.fire({
icon: 'error',
title: 'Oops...',
text: '<%=errado %>!',

})
        
      </script>
     <% }else if(info.length >0) {%>
      <script>
        Swal.fire({
icon: 'info',
title: 'Opa...',
text: '<%=info %>!',

})
        
      </script>
      <% }%>
  
  <!-- Template JS File -->
  <script src="/assets/js/scripts.js"></script>
  <script src="/assets/js/custom.js"></script>
</body>
</html>