<div class="main-sidebar sidebar-style-2">
  <aside id="sidebar-wrapper">
    <div class="sidebar-brand">
      <a>Auto.seguro</a>
    </div>
    
    <ul class="sidebar-menu">
      <li class="menu-header">Dashboard</li>
     
        <li > <a href="/admin/dashboard" class="nav-link"><i class="fas fa-fire"></i><span>Dashboard</span></a> </li>
       
     
      <li class="menu-header">Starter</li>
      <li class="dropdown">
        <a href="#" class="nav-link has-dropdown" data-toggle="dropdown"><i class="fas fa-columns"></i> <span>Tabelas</span></a>
        <ul class="dropdown-menu">
          <li><a class="nav-link" href="/admin/Listar/user">Clientes</a></li>
         <li><a class="nav-link" href="/admin/consultar/fipe">FIPE</a></li>
         <li><a class="nav-link" href="/cliente-veiculos">Veiculos-Clientes</a></li>
         <li><a class="nav-link" href="/funcionario">Especialistas</a></li>
       <li><a class="nav-link" href="/cliente-apolice">Cliente-Apólice</a></li>
        </ul>
      </li>
      
     
      <li class="menu-header">Área de Trabalho</li>
      <li class="dropdown">
        <a href="#" class="nav-link has-dropdown"><i class="fas fa-th-large"></i> <span>Acção</span></a>
        <ul class="dropdown-menu">
          <li><a class="nav-link beep beep-sidebar" href="/admin/Listar/pagamentos">Marcados</a></li>   
           <li><a class="nav-link beep beep-sidebar" href="/admin/ocorrencia_roubo">Roubo de viatura</a></li> 
          </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="nav-link has-dropdown"><i class="far fa-file-alt"></i> <span>Registos</span></a>
        <ul class="dropdown-menu">
          <li><a class="nav-link" href="/admin/registos-veiculo">Viaturas</a></li>
          <li><a class="nav-link" href="/admin/registos-marcacoes">Marcações(pagamento)</a></li>
          <li><a class="nav-link" href="/admin/registos-login">Login</a></li>
         
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="nav-link has-dropdown"><i class="fas fa-user-circle"></i> <span>Lids</span></a>
        <ul class="dropdown-menu">
          <li><a class="nav-link beep beep-sidebar" href="/admin/inscritos">Inscritos</a></li> 
         
        </ul>
      </li> 
      <li class="menu-header">Pages</li>
      <li><a class="nav-link" href="/admin/rank_notificacoes"><i class="fas fa-chart-line"></i> <span>Classificação</span></a></li>
       <li class="dropdown">
        <a href="#" class="nav-link has-dropdown"><i class="fas fa-map-marker-alt"></i> <span>Maps</span></a>
        <ul class="dropdown-menu">
          <li><a class="nav-link" href="/admin/vews_points">Maps</a></li>
          
          
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="nav-link has-dropdown"><i class="far fa-file-alt"></i> <span>Relatórios</span></a>
        <ul class="dropdown-menu">
          <li><a class="nav-link" href="/admin/seguro/relatorio">Usuário-Seguro</a></li>
          <li><a class="nav-link" href="/admin/notificacao/relatorio">Usuário-Alerta</a></li>
        <li><a class="nav-link" href="/admin/relatoriosistema">Auto-Seguro</a></li>
        
         
        </ul>
      </li>
    
            </aside>
</div>